Repository eostarter/token-sale-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,less,scss,graphql,gql,html,js,jsx,json,md,markdown,mdown,mkdn,mdx,ts,tsx,vue,yaml,yml}": "prettier --write",
  "*.js": "eslint --fix"
}

fix(docs): initial project setup
  hapi/LICENSE
  hapi/package.json
  hapi/yarn.lock
Due: prettier --write

fix(webapp): fix yarn commands
  hapi/.yarnrc.yml
  hapi/yarn.lock
  webapp/.yarnrc.yml
  webapp/Dockerfile
  webapp/src/components/Header/index.js
  webapp/src/routes/index.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

fix(webapp): add UAL wallet integrations
  .env.example
  .github/workflows/push-dev-environment.yaml
  .github/workflows/push-prod-environment.yaml
  docker-compose.yaml
  hasura/Dockerfile
  webapp/Dockerfile
  webapp/package.json
  webapp/public/index.html
  webapp/src/config/ual.config.js
  webapp/src/language/en.json
  webapp/src/language/es.json
  webapp/src/routes/Help/index.js
  webapp/src/theme/palette.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

fix(docs): update logo in readme file
  README.md
  docs/img/logo-words.jpeg
  webapp/public/logo-words.jpeg
Due: prettier --write

use github packages for docker images. refs #3
  .github/workflows/push-dev-environment.yaml
  .github/workflows/push-prod-environment.yaml
  makefile
  utils/meta.mk
Due: prettier --write

fix(docs): update readme
  README.md
  docs/data-model.drawio
  docs/img/infra.svg
  docs/img/infrastructure.png
  docs/infra.drawio
Due: prettier --write

update version of docker used.
  .github/workflows/push-dev-environment.yaml
  .github/workflows/push-prod-environment.yaml
Due: prettier --write

change docker registry for the newwst github one ghcr.io
  .github/workflows/push-dev-environment.yaml
  .github/workflows/push-prod-environment.yaml
  hapi/makefile
  hasura/makefile
  utils/meta.mk
  wallet/makefile
  webapp/makefile
Due: prettier --write

docs(readme): update data model
  docs/data-model.drawio
Due: none

ci(workflow): Update google actions and npm libraries for security updates
  .github/workflows/push-dev-environment.yaml
  .github/workflows/push-prod-environment.yaml
  hapi/yarn.lock
  webapp/yarn.lock
Due: prettier --write

feat(webapp): add basic ui to interectwith contract actions
  makefile
  webapp/package.json
  webapp/src/components/Message/index.js
  webapp/src/config/main.config.js
  webapp/src/config/ual.config.js
  webapp/src/context/state.context.js
  webapp/src/language/en.json
  webapp/src/routes/AddPool/index.js
  webapp/src/routes/AddPool/styles.js
  webapp/src/routes/AddUser/index.js
  webapp/src/routes/AddUser/styles.js
  webapp/src/routes/ApprovePool/index.js
  webapp/src/routes/ApprovePool/styles.js
  webapp/src/routes/ApproveSubscription/index.js
  webapp/src/routes/ApproveSubscription/styles.js
  webapp/src/routes/Contribution/index.js
  webapp/src/routes/Contribution/styles.js
  webapp/src/routes/EndSale/index.js
  webapp/src/routes/EndSale/styles.js
  webapp/src/routes/InvestorClaim/index.js
  webapp/src/routes/InvestorClaim/styles.js
  webapp/src/routes/OwnerClaim/index.js
  webapp/src/routes/OwnerClaim/styles.js
  webapp/src/routes/Pools/index.js
  webapp/src/routes/Pools/styles.js
  webapp/src/routes/StartSale/index.js
  webapp/src/routes/StartSale/styles.js
  webapp/src/routes/Subscribe/index.js
  webapp/src/routes/Subscribe/styles.js
  webapp/src/routes/Subscriptions/index.js
  webapp/src/routes/Subscriptions/styles.js
  webapp/src/routes/TokenDeposit/index.js
  webapp/src/routes/TokenDeposit/styles.js
  webapp/src/routes/index.js
  webapp/src/utils/index.js
  webapp/src/utils/token-sale.js
  webapp/src/utils/use-query.js
  webapp/yarn.lock
Due: prettier --write, eslint --fix

chore: update makefile
  makefile
Due: none

fix(webapp): update GH workflow env vars
  .github/workflows/push-dev-environment.yaml
Due: prettier --write

Update push-dev-environment.yaml
  .github/workflows/push-dev-environment.yaml
Due: prettier --write

feat(webapp): add placeholder for critical fields like token_symbol and tokens_on_sale
  webapp/src/language/en.json
  webapp/src/routes/AddPool/index.js
Due: prettier --write, eslint --fix

feat: add users
  webapp/src/language/en.json
  webapp/src/routes/AddPool/index.js
  webapp/src/routes/AddUser/index.js
  webapp/src/routes/ApproveSubscription/index.js
  webapp/src/routes/EditUser/index.js
  webapp/src/routes/EditUser/styles.js
  webapp/src/routes/Pools/index.js
  webapp/src/routes/Users/index.js
  webapp/src/routes/Users/styles.js
  webapp/src/routes/index.js
  webapp/src/utils/token-sale.js
Due: prettier --write, eslint --fix

migrate to edenia.cloud
  .github/workflows/push-dev-environment.yaml
  .github/workflows/push-prod-environment.yaml
  CODE_OF_CONDUCT.md
Due: prettier --write
